{% extends 'CatrobatWebBundle:Default:base.html.twig' %}

{% block head %}
    {% stylesheets '@CatrobatWebBundle/Resources/public/css/custom/detail.css' filter='cssrewrite,lessphp' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="program-container">
      <div id="program-description">
        Detailpage for program with id:
      </div>
      <div id="program-img">

      </div>

    </div>

{% endblock %}

